html {
    width: 100%;
    height: 100%;
    margin: 0;
}
body {
    margin: 0px;
    width: calc(100%);
    height: calc(100%);

}

.container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 1580px;
    min-height: 775px;
    float: left;
    background-color: rgba(233, 235, 238, 1);
}


.wrapper {
    float: right;
    width: calc(100% - 30px - 6px - 230px);
    height: calc(100% - 6px - 30px);/*-,-margin, -top menu bar*/
    padding: 3px;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}
.first_row_boxes {
    float: left;
    width: 100%;
    height: 50%;
}
.second_row_boxes {
    float: left;
    width: 100%;
    height: 50%;
}

.box_container {
    float: left;
	color: black;
    transition: 0.5s;
    width: 33.333%;
    height: 100%;
    overflow: hidden;
}
.box {
    width: calc(100% - 6px - 2px);
    height: calc(100% - 6px - 2px);
    background-color: #fff;
    margin: 3px;
    float: left;
    padding: 0px;
    border: 1px solid rgba(216, 218, 221, 1);
    transition: 0.5s;

    position: relative;
    z-index: 0;
}

.a, .b, .c, .d, .e, .f {
    width: 0px;
}

#cdr_container {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;

    width: calc(100% - 10px - 30px);
    height: calc(100% - 10px - 7px);
    padding: 5px;
    border: 0px solid #DDDDDD;
    resize: none;
    text-overflow: string;
    overflow: auto;
    white-space: pre;

    background: url('../images/lines.png');
    font-size: 14px;
    line-height: 16px;
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 12px;
    border-color:#ccc;
}


.box_table {
    width: calc(100% + 0px);
    table-layout: fixed;
    border-collapse: collapse;
    transition: 0.1s;
    font-family: 'Lato', sans-serif;
}
.box_table thead tr {
    display: block;
    background-color: #ffa500;
    color: #fff;
    width: 100%;
}

.box_table tbody {
    display: block;
    overflow-y: auto;
    overflow-x: visible;
    width: calc(100% - 0px);
    height: 300px;
}
.box_table th {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.box_table td {
    border: 2px solid white;
    font-size: 14px;
    text-overflow: string;
    overflow: auto;
    white-space: pre;
    max-height: 21px;
    min-height: 21px;
    height: 21px;
}
.box_table tr.cdr_tr:hover td {
    background-color: #f1c675 !important;
}
.checked_row .cdr_comment, .checked_row td {
    background-color: #7fcf74;
}
/*---------------------------------------*/
td.cdr-chargingClass {
    min-width: 22px;


    text-align: center;
}
/*charging class start*/
.cdr-chargingClass-start {

    margin: 0px;
    padding: 0px;
    vertical-align: center;
    text-align: center;
}
.cdr-chargingClass-start div {
    height: 100%;
    position: relative;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
}
.cdr-chargingClass-start div img {
    position: absolute;
    left: 0px;
    height: 100%;
    object-fit: cover;
}
.cdr-chargingClass-start div input {
    position: absolute;
    left: 1px;
    top: 1px;
}
/*charging class join*/
.cdr-chargingClass-join {
    margin: 0px;
    padding: 0px;
    vertical-align: center;
    text-align: center;
}
.cdr-chargingClass-join div {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
}
.cdr-chargingClass-join div img {
    height: 100%;
    object-fit: cover;
}
/*charging class end*/
.cdr-chargingClass-end {
    margin: 0px;
    padding: 0px;
    vertical-align: center;
    text-align: center;
}
.cdr-chargingClass-end div {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
}
.cdr-chargingClass-end div img {
    height: 100%;
    object-fit: cover;
}
td.cdr-chargingCode {

    min-width: 22px;
    text-align: center;
}
/*charging code start*/
.cdr-chargingCode-start {
    margin: 0px;
    padding: 0px;
    vertical-align: center;
    text-align: center;
}
.cdr-chargingCode-start div {
    height: 100%;
    position: relative;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
}
.cdr-chargingCode-start div img {
    position: absolute;
    left: 0px;
    height: 100%;
    object-fit: cover;
}
.cdr-chargingCode-start div input {
    position: absolute;
    left: 1px;
    top: 1px;
}
/*charging code join*/
.cdr-chargingCode-join {
    margin: 0px;
    padding: 0px;
    vertical-align: center;
    text-align: center;
}
.cdr-chargingCode-join div {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
}
.cdr-chargingCode-join div img {
    height: 100%;
    object-fit: cover;
}
/*charging code end*/
.cdr-chargingCode-end {
    margin: 0px;
    padding: 0px;
    vertical-align: center;
    text-align: center;
}
.cdr-chargingCode-end div {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align: center;
}
.cdr-chargingCode-end div img {
    height: 100%;
    object-fit: cover;
}
td.cdr_name {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    text-indent: 5px;
}
th.th_name {
    min-width: calc(104px + 44px);
    width: calc(104px + 4px);
    max-width: calc(104px + 44px);
    text-align: left;
    text-indent: 51px;
}
.box_table input.cdr_all {
    transform: scale(1.3);

}
td.cdr_comment {
    width: 100%;
    text-indent: 5px;
    background-color: #fbffbf;
}
th.th_comment {
    width: 100%;
    text-align: left;
    text-indent: 5px;
}
.box_table tbody tr:nth-child(odd) {
    background-color: #f5f6f7;
}
.box_table tbody tr:nth-child(even) {
    background-color: #DDDEDF;
}
td.cdr_name, input.cdr {
    cursor: pointer;
}