
.top_menu_bar {
    float: left;
    position: relative;
    z-index: 2;
    height: 29px;
    width: 100%;
    border-bottom: 1px solid rgba(216, 218, 221, 1);
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}
.top_menu_item {
    float: left;
    position: relative;
    margin-left: 0px;
    width: 150px;
    height: 30px;
    transition: 0.2s;
    text-align: center;
    border-right: 1px solid rgba(216, 218, 221, 1);
}
.download_button {
    float: right;
    margin-right: 50px;
    background-color: rgb(29, 33, 41) !important;
}
.stat_div {
    float:right;
    border-left: 1px solid rgba(216, 218, 221, 1);
    padding-top: 2px;
    height: 27px;
}
.stat_div:hover {
    background-color: orange !important;
    color: white !important;
    height: 28px;
}
input#download_button {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    color: white;
    transition: 0.2s;
    outline: none;
    border: 0px solid #DDDDDD;
}
input#download_button:focus {
    box-shadow: 0 0 0px orange;
    border: 0px solid orange;
}
input#download_button:disabled {
    background-color: #bec2c9 !important;
}
input#download_button:enabled:hover {
    background-color: orange !important;
}
.info {
    height: 100%;
}
.info_name {
    font-size: 9px;
    color: rgba(100, 100, 100, 1);
    float: left;
    width: 100%;
    height: 10px;
}
.info_value {
    font-size: 14px;
    float: left;
    width: 100%;
}

.sliding_box_stats {
    position: absolute;
    float:right;
    z-index: 1;
    padding: 10px;
    color: white;
    width: calc(448px);
    height: calc(100% - 30px - 20px);
    background-color: orange;
    top: -1530px;
    right: 0px;
    border-left: 2px solid rgb(29, 33, 41);
    transition: 0.7s;
    font-family: 'Poppins', sans-serif;
}

.sliding_box_stats table {
    width: 100%;
    border: 0px solid black;
    border-spacing: 0;
}
.sliding_box_stats table td {
    vertical-align: top;

}
.sliding_box_stats table tr {
    min-height: 20px;
}
.stat_value {
    font-weight: bold;

}
